.detail {
  overflow: scroll;
  position: relative;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  width: 95%;
  max-width: 700px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(100%);
  transition: all 0.4s;
  padding: 24px;
}

.detail.show {
  transform: translateY(0);
}