.detail-container {
  position: absolute;
  bottom: 0;
  min-height: 200px;
  max-height: 80vh;
  width: 100vw;
  justify-content: center;
  display: flex;
}
.detail {
  overflow: scroll;
  position: relative;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  width: 95%;
  max-width: 700px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(100%);
  transition: all 0.4s;
  z-index: 1000; // higher than the progress-bar
  padding: 30px;
}

.detail.show {
  transform: translateY(0);
}
